.Odd {
    background-color: rgb(226, 108, 128);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#Two {
    color: blue;
    font-size: 36px;
}

.Odd.Three {
    font-size: 24px;
}

#Four {
    background-color: rgb(172, 226, 91);
    font-size: 24px;
    font-weight: bold;
}